@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
}

.container h1 {
  position: absolute;
  top: 18%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-right: -50%;
  font-size: 3.5rem;
  font-weight: 500;
  color: #674000;
}

.container .box-cal {
  position: absolute;
  top: 50.2%;
  left: 51.55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-right: -50%;
  width: 52vw;
  height: 48vh;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row dense;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;
      grid-template-areas: "First-big-grid First-big-grid ." ". . ." ". Second-big-grid Second-big-grid";
  background: #e8d4b3;
}

.container .box-cal .First-big-grid {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: First-big-grid;
}

.container .box-cal .Second-big-grid {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: Second-big-grid;
}

.container .box-cal .calculator {
  margin: 5px;
  border: 5px outset #e8d4b3;
}

.container .box-cal .calculator a {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: #674000;
  font-weight: 600;
}

.container .box-cal .calculator:hover {
  background: #d7c3a2;
}

.container .box-cal form {
  position: absolute;
  background: #f1f1ef;
  width: 52vw;
  height: 48vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: auto;
}

.container .box-cal form .form-center {
  border-right: 2px solid #d7c3a2;
  margin-right: 10px;
}

.container .box-cal form .form-center .weight, .container .box-cal form .form-center .height, .container .box-cal form .form-center .result, .container .box-cal form .form-center .submit, .container .box-cal form .form-center .home, .container .box-cal form .form-center .age, .container .box-cal form .form-center .gender, .container .box-cal form .form-center .distance, .container .box-cal form .form-center .repeat, .container .box-cal form .form-center .waist, .container .box-cal form .form-center .hip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.container .box-cal form .form-center .weight p, .container .box-cal form .form-center .height p, .container .box-cal form .form-center .result p, .container .box-cal form .form-center .submit p, .container .box-cal form .form-center .home p, .container .box-cal form .form-center .age p, .container .box-cal form .form-center .gender p, .container .box-cal form .form-center .distance p, .container .box-cal form .form-center .repeat p, .container .box-cal form .form-center .waist p, .container .box-cal form .form-center .hip p {
  margin-right: 10px;
}

.container .box-cal form .form-center #weight, .container .box-cal form .form-center #height, .container .box-cal form .form-center #age, .container .box-cal form .form-center #distance, .container .box-cal form .form-center #repeat, .container .box-cal form .form-center #waist, .container .box-cal form .form-center #hip {
  width: 300px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 20px;
}

.container .box-cal form .form-center .home a {
  color: #674000;
}

.container .box-cal form .form-center .home a:hover {
  color: #563000;
}

.container .box-cal form .form-center .submit #submit, .container .box-cal form .form-center .submit #reset {
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-weight: 500;
  border-color: #d7c3a2;
}

.container .box-cal form .form-center .submit #submit:hover, .container .box-cal form .form-center .submit #reset:hover {
  background: #d7c3a2;
  border-color: #f1f1ef;
}
/*# sourceMappingURL=style.css.map */